{{#unless isListEnabled}}
    {{!-- checks only if false --}}
    <ul>
        <li>Home</li>
        <li>Profile</li>
        <li>Settings</li>
    </ul>

{{/unless}}


{{#with author}}
    {{!-- have access to the object --}}
    <h2>{{firstName}} and {{lastName}}</h2>
{{/with}}


{{#with author as |x| }}
    {{!-- have access to the object --}}
    <h2>{{x.firstName}} and {{x.lastName}}</h2>

    <p>{{x.project.name}}</p>
{{/with}}


